# Ignore binaries and object files
bin/
obj/

# Ignore NuGet packages
packages/

# Ignore user-specific files
*.suo
*.user

# Ignore build artifacts
*.msi

# Ignore logs and temporary files
*.log
*.tmp

# Ignore temporary files database files
*.db-shm
*.db-wal

# Ignore appsetings to hide sensitive data
.appsettings.Development.json
appsettings.json